:root {
	--background: #050401;
	--content-background: #252630;
	--text: #FFFFF0 ;
	--highlight: #FFAFCC;
	--highlight2: #CDB4DB;
	--link: #A2D2FF;
	--active: #A2D2FF;

	--tab-width: 3%;
}

@font-face {
    font-family: Hack-Bold;
    src: url(fonts/HackNerdFont-Bold.ttf);
}

@font-face {
    font-family: Hack;
    src: url(fonts/HackNerdFont-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background);
}

h1 {
    color: var(--highlight);
    font-family: 'Hack-Bold', monospace;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 75px;
}

h2 {
    color: var(--highlight);
    font-family: 'Hack-Bold', monospace;
}

h3 {
    color: var(--highlight2);
    font-family: 'Hack-Bold', monospace;
	margin-left: var(--tab-width);
}

h2 + p {
	margin-left: var(--tab-width);
}

h3 + p, .info-list + p {
	margin-left: calc(var(--tab-width) * 2);
}

p {
    color: var(--text);
    font-family: 'Hack-Bold', monospace;
    font-size: 14px;
	margin-bottom: 25px;
}

b {
    color: var(--highlight);
}

ul {
    color: var(--text);
    font-family: 'Hack-Bold', monospace;
    font-size: 15px;
}

li {
    margin-bottom: 7px;
}

a {
    color: var(--link);
    font-family: 'Hack-Bold', monospace;
}

.container {
    margin: 0 auto;
    padding: 1em 1em 0 1em;
    max-width: 60rem;
    box-sizing: border-box;
}

#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

#menu a {
    text-decoration: None;
}

#nav {
    font-size: 18px;
	padding-top: 3px;
	max-width: 700px;
}

#nav-head * {
	display: inline;
	margin-right: 25px;
}

#nav-sub {
	margin-top: 5px;
	margin-left: 25px;
}

#nav-sub * {
	display: inline;
}

#nav-sub p {
	color: var(--highlight);
	font-size: 20px;
	margin-right: 15px;
}

#nav-sub a {
	color: var(--highlight2);
	font-size: 16px;		
	margin-right: 20px;
}

#nav-active {
    margin: 0;
    padding: 0;
}

#links {
    font-size: 25px;
}

#links * {
    margin: 0 7px 0 7px;
}

#content {
    background-color: var(--content-background);
    padding: 1em;
    outline: 2px solid var(--highlight); 
    border-radius: 5px;
}

.center {
    text-align: center;
}

.active {
    text-decoration: underline !important;
    text-decoration-color: var(--highlight) !important;
    text-decoration-thickness: 2px !important;
    color: var(--active) !important;
    display: flex;
}

.info-list {
	display: flex;
	flex-wrap: row;
	justify-content: space-between;
}

.info-list * {
	display: inline;
}

.info-list h2, .info-list h3 {
	margin-right: 25px;
}

.info-list a {
	font-size: 25px;
	margin-right: 15px;
	text-decoration: None;
}

.info-list div {
	padding-top: 15px;
	margin-right: calc(var(--tab-width));
}
